<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<h1> Student Registered Courses</h1>
<table>
    {% for key,val in data.items %}
    <tr>
        <td> {{ key }} : {{ val }}  </td>
        </tr>
    {% endfor %}
</table>
<br>

<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" name="lec_link">Lecture links</button>
    <button type="submit" name="note_link">Note links</button>
</form>

{% if flag_lec %}
    <h2> Lecture Links : </h2>
    <table>
        {% for key,val in course_lec.items %}
        <tr>
            <td> {{ key }} : <a href={{ val }}> {{ val }}</a> </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}


{% if flag_note %}
    <h2> Notes Link : </h2>
    <table>
        {% for key,val in course_note.items %}
            <tr>
                <td> {{ key }} : <a href={{ val }}>{{ val }}</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<br>
<br>
<a href="javascript:history.back()"> <button> back </button></a>
<br>
<br> <a href="/"> <button> Log Out </button></a>
</body>
</html>