<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<center>
    {% load static %}
    <img src=" {% static 'images\My_photo.JPG' %}" alt="my Photo" height="300" width="270"> <br><br>
<h3>
    Name :  Smit Ashirvadbhai Savan  <br>
    E-mail ID : <a> smit13092000@gmail.com </a> <br>
    Mobile Number : 9157947734  <br>
    Current working Status : Student <br>
    Current working Place : Dhirubhai Ambani Institute of ICT   <br>
</h3>
    <a href="https://www.instagram.com/smit_savan/"> <img src=" {% static 'images\icon_insta.png' %}" height="50" width="50"></a>&ensp;
    <a href="https://in.linkedin.com/in/smit-savan-24b745217"> <img src=" {% static 'images\icon_linkedin.png' %}" height="50" width="50"></a>&ensp;
    <a href="https://www.facebook.com/smit.savan.3"> <img src=" {% static 'images\icon_facebook.png' %}" height="50" width="50"></a>&ensp;
</center>



</body>
</html>

