<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login details</title>
</head>
<body>
<h1>Admin login details</h1>
<br>
{#{{ notc_a }}#}

Admin ID - {{ id }}<br>
Name - {{ name }}<br><br>
Email ID - {{ email }}<br>

<br>
<br>
<a href="/administrator/_admlgout_studentlist"> <button> Student List </button> </a>
<br>
<br>
<a href="/administrator/_admlgout_proflist"> <button> Professor List </button> </a>
<br>
<br>
<a href="/administrator/_admlgout_addstudent"> <button> Add Student </button> </a>

<br>
<br> <a href="/"> <button> Log Out </button></a>

</body>
</html>