{% extends "basic.html" %}
{% block title %} Homepage {% endblock %}

{% block main_content %}
    <H1>LOGIN PAGE</H1>
    <br>
     <a href="/student"> <button> Student Login </button> </a>
    <br>
    <br>
     <a href="/professor"> <button> Professor Login </button> </a>

    <br>
    <br>
     <a href="/administrator"> <button> Administrator Login </button> </a>
    <br>
    <br>
    {#<br>#}
    {# <a href="http://127.0.0.1:8000/signup"> <button> Sign Up</button> </a>#}
    <br>
    <br>
    <a href="http://127.0.0.1:8000/about"> <button> Author </button></a>
    {#<a href="https://www.google.com/"> google </a>#}

{% endblock %}

