<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor Login details</title>
</head>
<body>
<h1>Professor Login details</h1>
<br>
{{ notc_p }}

Professor ID - {{ id }}<br>
Name - {{ name }}<br><br>
Email ID - {{ email }}<br>
Phone Number - {{ phn }}<br><br>
Studying Course ID - {{ cid }}<br>

<br>
<br>
{#<a href="javascript:history.back()"><button> back </button> </a>#}
<a href="http://127.0.0.1:8000/"> <button> log out</button></a>
</body>
</html>