{% extends "basic.html" %}

{% block title %}Student login{% endblock %}

{% block main_content %}
    <h1> Student Login </h1>

    <form action='/student/stdlgout'  method="post">
        {% csrf_token %}
        Enter Username : <br>
        <input type="text"  name="usr" value="201901001"> <br>
        Enter Password : <br>
        <input type="password" name="psw" value="Vikas.Kori"><br>
        <br>
        <button type='submit'> Login </button>
    </form>
    {#<br>#}

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
    {#    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>#}
        <strong><h3> {{ message }} </h3></strong>
    {#    </li>#}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
    {##}
    {#<strong>    {{ notc_s }} </strong>#}
    {#<br>#}
    <br>
    <br>
     <a href="http://127.0.0.1:8000/"> <button> Home </button> </a>

{% endblock %}